.about {
  width: 100%;
  padding: 120px 7%;

  display: flex;
  flex-flow: row;
}

.about h2 {
  font-family: $font-secondary;
  text-transform: uppercase;
  font-size: 49px;
  line-height: 49px;

  @media (max-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
  }
}

.about h3 {
  font-family: $font-main;
  font-size: 18px;
  line-height: 72px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 27px;
  }
}

.about p {
  font-family: $font-main;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.about__gym-img {
  @media (max-width: $tablet-width) {
    width: 678px;
    height: 345px;
  }

  @media (max-width: $mobile-width) {
    width: 320px;
    height: 313px;
  }
}
