.advantage {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $block-bg;

  @media (max-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 26px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 32px;
  }
}

.advantage__container {
  max-width: 1160px;

  padding: 0 57px 0 59px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    padding: 0 45px;

    flex-direction: column;
  }

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}

.advantage h2 {
  margin: 0;
  margin-bottom: 51px;

  text-align: center;
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-width) {
    margin-bottom: 36px;

    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 39px;

    font-size: 32px;
    line-height: 32px;
  }
}

.advantage div {
  font-family: $font-main;
}

.advantage__item {
  width: 32.8%;
  min-height: 172px;

  display: flex;

  @media (max-width: $tablet-width) {
    width: 47%;
    min-height: 150px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 30px;

    flex-direction: column;
  }
}

.advantages__item:nth-of-type(2n+1) {
  @media (max-width: $tablet-width) {
    margin-right: 6%;
  }
}

// паддинги для ПП

.advantage__square {
  padding-left: 28px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-right: 13px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.advantage__comfort {
  padding-left: 21px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }
}

.advantage__square .advantage__text-wrapper {
  @media (max-width: $mobile-width) {
    max-width: 186px;
    margin: 0 auto;
  }
}

.advantage__square .advantage__text {
  padding-right: 1px;
}

.advantage__square,
.advantage__comfort {
  margin-right: 360px;

  @media (max-width: $tablet-width) {
    margin-right: 35px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.advantage__profi .advantage__text,
.advantage__parking .advantage__text {
  padding-right: 7px;

  @media (max-width: $tablet-width) {
    padding-right: 0;
  }
}

.advantage__text-wrapper {
  @media (max-width: $tablet-width) {
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    max-width: 228px;
    margin: 0 auto;
  }
}

.advantage__fact {
  margin-right: 30px;

  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width) {
    margin-right: 0;
    align-items: center;
  }
}

.advantage__fact--profi {
  margin-right: 32px;

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.advantage h3 {
  margin-top: 10px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 22px;
  line-height: 33px;

  @media (max-width: $tablet-width) {
    margin-top: 4px;

    font-size: 20px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 2px;
  }
}

.advantage__top-wrapper,
.advantage__bottom-wrapper {
  display: flex;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.advantage__square,
.advantage__parking {
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  @media (max-width: $tablet-width) {
    border-bottom: none;
  }
}

.advantage__bottom-wrapper {
  margin-top: -76px;

  @media (max-width: $tablet-width) {
    margin-top: 36px;
  }
}

.advantage__fact p {
  margin: 0;
  display: block;

  font-weight: 700;
  font-size: 71px;
  background: linear-gradient(150deg, #d10e0a 11%, #0041ca 50%);

  background-clip: text;
  -webkit-text-fill-color: transparent;
  word-wrap: break-word;

  @media (max-width: $tablet-width) {
    font-size: 58px;
  }
}

.advantage__fact span {
  margin-top: -11px;

  color: $small-fact-color;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $tablet-width) {
    line-height: 25px;
  }
}

.advantage__text {
  margin-top: 6px;
  margin-bottom: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}

.advantage__equipment {
  width: 240px;
  min-height: 307px;
  height: 100%;

  margin: -168px auto 0;
  padding: 55px 32px 35px;

  position: relative;
  bottom: -13px;

  text-align: center;
  color: $white;
  background-color: $small-block-bg;

  @media (max-width: $tablet-width) {
    width: 65.2%;
    min-height: 239px;
    margin: -24px auto 0;
    padding: 34px 126px 35px;

    position: unset;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 37px 74px 35px;
    margin: 14px 0 0 0;
  }
}

.advantage__equipment p {
  margin-top: 33px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: $tablet-width) {
    margin-top: 14px 0 0 0;
  }
}

.advantage__equipment span:first-child {
  margin-right: 5px;

  font-weight: 700;
  font-size: 74px;
  line-height: 74px;

  @media (max-width: $tablet-width) {
    display: block;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    display: block;

    line-height: 74px;
  }
}

.advantage__equipment span:nth-child(2n) {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;

  @media (max-width: $tablet-width) {
    font-size: 22px;
    line-height: 31px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 14px;
    font-size: 22px;
    line-height: 22px;
  }
}
