.controls {
  display: flex;
  justify-content: center;
}

.controls ul {
  @include list-reset;

  max-width: 1160px;

  margin: 0 auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @media (max-width: $mobile-min-width) {
    margin: 0;
  }
}

.controls li {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    margin-right: 40px;
  }

  @media (max-width: $mobile-min-width) {
    margin-right: 45px;
  }
}

.controls__toggle {
  padding-bottom: 12px;
  color: $inactive-control;
  position: relative;

  background-color: transparent;
  border: 0;
  outline: 0;

  display: flex;

  font-family: $font-main;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;

  &::after {
    content: "";

    position: absolute;
    bottom: -2px;
    left: 0;

    width: 100%;
    height: 2px;
    background-color: transparent;
  }

  @media (max-width: $tablet-width) {
    padding-top: 2px;

    font-size: 18px;
    line-height: 27px;
  }

  @media (max-width: $mobile-min-width) {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;

    font-size: 16px;
    line-height: 24px;
  }
}

.controls__toggle--active {
  color: $main-blue;

  &::after {
    background-color: $main-red;
  }
}
