.event__container {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 73px;

  display: flex;
  justify-content: center;

  @media (max-width: $tablet-width) {
    padding: 41px 45px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 66px 4.6% 0;
    flex-direction: column;
  }
}

.event__wrapper {
  width: 43%;
  height: 500px;

  padding: 87px 78px;

  display: flex;
  flex-flow: row wrap;

  color: $white;
  background-color: $main-red;

  @media (max-width: $tablet-width) {
    height: 292px;
    padding: 51px 45px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.event__head {
  display: flex;

  @media (max-width: $tablet-width) {
    width: 100%;
    justify-content: space-between;
  }
}

.event__head h2 {
  height: 158px;
  margin: 0;

  font-family: $font-secondary;
  font-weight: 700;
  font-size: 90px;
  line-height: 90px;

  @media (max-width: $tablet-width) {
    width: 117px;
    height: 91px;

    font-size: 52px;
    line-height: 52px;
  }
}

.event__date-block {
  margin-top: -7px;

  font-family: $font-main;

  @media (max-width: $tablet-width) {
    height: 95px;
    margin-top: -4px;
  }
}

.event__date-wrapper {
  width: 64px;
  height: 37px;

  margin-top: 5px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    width: 42px;
    height: 32px;

    margin-top: 0;
    margin-bottom: 1px;
  }
}

.event__date-block p {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;

  border-bottom: 1px solid $white;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  &:first-child {
    width: 64px;
  }

  &:nth-child(2n) {
    width: 88px;
  }

  @media (max-width: $tablet-width) {
    font-size: 12px;
    line-height: 18px;

    padding-bottom: 1px;

    &:first-child {
      width: 42px;
    }
  }
}

.event__date-wrapper span:first-child,
.event__date-block span {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.event__date-wrapper span:nth-child(2n) {
  width: 37px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  @media (max-width: $tablet-width) {
    margin-left: 3px;

    font-size: 10px;
    line-height: 11px;
  }
}

.event__hour {
  margin-top: -7px;

  display: block;
}

.event__subtitle {
  margin-top: 8px;
  margin-bottom: 0;

  font-family: $font-main;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: $tablet-width) {
    margin-top: -6px;
    font-size: 12px;
  }
}

.event__wrapper a {
  width: 100%;

  padding: 24px 0 20px;
  margin-top: auto;

  display: block;
  border: 4px solid $white;
  box-sizing: border-box;

  text-align: center;
  font-family: $font-main;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    padding: 12px 15px;

    border: 2px solid $white;
    font-size: 10px;
    line-height: 12px;
  }
}

.event img {
  @media (max-width: $tablet-width) {
    width: 386px;
    height: 292px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    object-fit: cover;
  }

  @media (max-width: $mobile-min-width) {
    width: 290px;
  }
}
