.form h2 {
  margin: 0;
  margin-bottom: 27px;

  font-family: $font-secondary;
  font-weight: 700;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 32px;

    font-size: 32px;
    line-height: 32px;
  }
}

.form input {
  width: 46.3%;
  padding: 7px 0 5px;
  margin-bottom: 29px;

  display: block;
  background: transparent;
  outline: none;

  color: $white;
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  border-radius: 0;

  border: 1px solid transparent;
  border-bottom: 1px solid $gray-blue;

  &:hover,
  &:focus {
    border-bottom: 1px solid $white;
  }

  &:nth-of-type(2n) {
    margin-left: 30px;

    @media (max-width: $tablet-width) {
      margin-left: 60px;
    }

    @media (max-width: $mobile-width) {
      margin-left: 0;
    }
  }

  &:last-child {
    @media (max-width: $mobile-width) {
      margin-bottom: 38px;
    }
  }

  &::placeholder {
    color: $white;

    font-family: $font-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    flex-wrap: wrap;
  }
}

.form button {
  width: 100%;
  padding: 17px;

  color: $white;
  background-color: $main-blue;
  border: 3px solid $white;

  font-weight: 700;
  font-family: $font-main;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
