.page-footer {
  color: $white;
  background-color: $footer-bg;
}

.page-footer__container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 44px 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 46px 41px;
    padding-right: 45px;
  }

  @media (max-width: $mobile-width) {
    width: 400px;
    flex-direction: column;

    padding: 45px;
    padding-top: 48px;
  }

  @media (max-width: $mobile-min-width) {
    width: 100%;
    padding: 45px 15px;
    padding-top: 48px;
  }
}

.page-footer__logo img {
  width: 89px;
  height: 20px;

  @media (max-width: $tablet-width) {
    height: 18px;
  }

  @media (max-width: $mobile-width) {
    width: 68px;
    height: 15px;
  }
}

.page-footer__logo {
  @media (max-width: $mobile-width) {
    width: 100%;
    margin-right: 0;
  }
}

.page-footer__logo--desktop {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.page-footer__logo--mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}
