.promo {
  padding-top: 120px;

  font-family: $font-main;

  @media (max-width: $tablet-width) {
    padding-top: 100px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 72px;
  }
}

.promo__container {
  max-width: 1160px;
  margin: 0 auto;

  display: flex;

  @media (max-width: $tablet-width) {
    padding: 0 45px;

    flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.promo h2 {
  margin: 0;
  margin-bottom: 49px;

  text-align: center;
  font-family: $font-secondary;
  font-size: 49px;
  line-height: 49px;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;

    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 41px;

    font-size: 32px;
    line-height: 32px;
  }
}

.promo__main {
  width: 560px;
  min-height: 462px;
  height: 100%;

  margin-right: 40px;

  display: flex;

  color: $white;
  background-color: $main-red;

  @media (max-width: $tablet-width) {
    width: 100%;

    margin-right: 0;
    margin-bottom: 30px;

    justify-content: space-between;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.promo__main-description {
  padding: 42px 45px;

  @media (max-width: $mobile-width) {
    min-height: 299px;

    text-align: center;
  }
}

.promo__main img {
  width: 280px;
  height: 100%;

  display: block;
  object-fit: cover;

  @media (max-width: $tablet-width) {
    width: 399px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 299px;
  }
}

.promo__main-description span:first-child {
  width: 100%;

  display: block;

  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
}

.promo__price {
  font-weight: 700;
  font-size: 70px;
  line-height: 73px;
}

.promo__main-description p {
  min-height: 217px;

  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  @media (max-width: $mobile-width) {
    min-height: 60px;
    margin-top: 13px;
  }
}

.promo__main-description a {
  border-bottom: 1px solid $white;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.promo__list {
  @include list-reset;

  width: 560px;

  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    width: 100%;

    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.promo__list li {
  padding: 20px 28px;
  margin-bottom: 39px;

  display: flex;
  flex-direction: column;

  border: 7px solid transparent;
  border-image: linear-gradient(97.05deg, #d10a42, 73%, #00359f 95.31%) 2 40%;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $tablet-width) {
    width: calc(52% - 30px);
    min-height: 211px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 32px 28px;
    margin-bottom: 30px;

    align-items: center;

    text-align: center;
  }
}

.promo__list li:first-child {
  padding-right: 60px;

  @media (max-width: $mobile-width) {
    padding-right: 28px;
  }
}

.promo__list h3 {
  margin: 0;

  font-weight: 700;
  font-size: 26px;
}

.promo__list p {
  margin: 7px 0 0 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $tablet-width) {
    margin-top: 8px;
  }

  @media (max-width: $mobile-width) {
    width: 160px;
  }
}

.promo__list a {
  max-width: 100%;
  width: min-content;

  margin-top: 71px;
  margin-bottom: 9px;
  padding-bottom: 2px;

  display: block;
  border-bottom: 1px solid $small-block-bg;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    margin-top: auto;
  }

  @media (max-width: $mobile-width) {
    margin: 27px auto 0;
    padding-bottom: 0;
  }
}
