.review {
  position: relative;

  width: 100%;
  padding: 0 7.5%;
  padding-top: 118px;
  padding-bottom: 120px;

  @media (max-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    padding-top: 42px;
    padding-bottom: 70px;
  }
}

.review h2 {
  margin: 0 0 50px;

  text-align: center;
  font-family: $font-secondary;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;

    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
  }
}

.review__wrapper {
  width: 560px;
  min-height: 242px;

  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;

  background-color: $small-block-bg;
  color: $white;
  box-shadow: $small-block-shadow;

  @media (max-width: $tablet-width) {
    width: 566px;
    margin-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    width: 226px;
    height: auto;

    margin-bottom: 0;
  }
}

.review__list {
  @include list-reset;

  font-family: $font-main;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.review__list li {
  min-height: 242px;
  max-width: auto;
  margin: 0 auto;

  display: flex;
  flex-flow: row wrap;
  padding: 52px 50px 40px 62px;
  box-sizing: border-box;


  @media (max-width: $tablet-width) {
    width: 566px;
    padding: 52px 50px 40px 65px;
  }

  @media (max-width: $mobile-width) {
    padding: 40px 25px 22px;
  }
}

.review__client {
  width: 330px;
  margin-left: 28px;

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;

    margin-top: -64px;
    margin-left: 0;
  }
}

.review__item img {
  width: 80px;
  height: 80px;

  margin-top: 10px;

  @media (max-width: $mobile-width) {
    margin-top: 0;
    margin-right: auto;
    margin-left: 16px;
    width: 68px;
    height: 68px;
  }
}

.review__wrapper h4 {
  margin-bottom: 0;
  margin-top: 2px;

  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: $mobile-width) {
    width: 77px;
    margin: 3px 0 6px auto;

    line-height: 27px;
  }
}

.review__wrapper p {
  margin-top: 12px;
  margin-bottom: 14px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $mobile-width) {
    margin-top: 16px;
    text-align: center;
  }
}

.review__button {
  width: 30px;
  height: 40%;
  padding: 0;

  position: absolute;
  top: 38.6%;

  content: "";
  border: 1px solid transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid #b6bdcc;
  }

  @media (max-width: $tablet-width) {
    height: 62%;
    top: 38.5%;
  }

  @media (max-width: $mobile-width) {
    height: 60%;
    top: 24.5%;
  }
}

.review__button--prev {
  left: 25%;

  background: url("../img/icon-big-prev.svg") no-repeat 20% 50%;

  @media (max-width: $tablet-width) {
    left: 5.8%;
  }

  @media (max-width: $mobile-width) {
    left: -1%;
    background: url("../img/icon-small-prev.svg") no-repeat 92% 50%;
  }
}

.review__button--next {
  position: absolute;
  right: 25.2%;

  background: url("../img/icon-big-next.svg") no-repeat 92% 50%;

  @media (max-width: $tablet-width) {
    right: 5.8%;
  }

  @media (max-width: $mobile-width) {
    right: 4%;
    background: url("../img/icon-small-next.svg") no-repeat 92% 50%;
  }
}
