.sitemap {
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.sitemap ul {
  @include list-reset;

  width: 431px;
  padding-top: 4px;
  margin-left: 22px;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    width: auto;
    padding-left: 16px;
    margin-left: 0;
    flex-wrap: nowrap;
  }

  @media (max-width: $mobile-width) {
    width: 100%;

    padding-left: 0;
    margin-left: 0;

    flex-flow: row wrap;

    font-size: 16px;
    line-height: 19px;
  }
}

.sitemap__item {
  margin-left: 40px;

  //обнуляем левый марджин 1му видимому элементу

  &:first-child,
  &:nth-child(2),
  &:nth-child(7n) {
    margin-left: 0;
  }

  @media (max-width: $tablet-width) {
    margin-left: 30px;
  }

  @media (max-width: $mobile-width) {
    width: 43%;
    margin-left: 0;
    margin-bottom: 18px;

    &:first-child {
      order: -2;
    }
  }

  @media (max-width: $mobile-min-width) {
    &:nth-child(2n) {
      margin-left: 35px;
    }

    &:nth-child(2) {
      margin-left: 0;
      margin-right: 35px;
    }
  }
}

.sitemap__item a {
  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.sitemap__item--promo {
  @media (max-width: $mobile-width) {
    margin-top: -3px;
    order: 1;
  }
}

.sitemap__item--services {
  @media (max-width: $mobile-width) {
    margin-bottom: 21px;
    order: 2;
  }

  @media (max-width: $mobile-min-width) {
    margin-left: 0;
  }
}

.sitemap__item--coaches {
  @media (max-width: $mobile-width) {
    margin-bottom: 21px;
    order: 3;
  }
}

.sitemap__item--subscriptions {
  @media (max-width: $mobile-width) {
    order: 4;
  }
}

.sitemap__item--schedule {
  @media (max-width: $mobile-width) {
    order: 5;
  }
}
