.slider {
  position: relative;
}

.slider__button {
  width: 30px;
  height: 100%;
  padding: 0;

  position: absolute;
  top: 0;

  content: "";
  border: none;
  cursor: pointer;
}

.slider__button--prev {
  left: -57px;
  background: url("../img/icon-big-prev.svg") no-repeat 20% 43%;

  @media (max-width: $mobile-width) {
    left: -3px;
    background: url("../img/icon-small-prev.svg") no-repeat 92% 43%;
  }
}

.slider__button--next {
  position: absolute;
  right: -57px;
  background: url("../img/icon-big-next.svg") no-repeat 92% 43%;

  @media (max-width: $mobile-width) {
    right: 14px;
    background: url("../img/icon-small-next.svg") no-repeat 92% 43%;
  }
}

.no-js {
  display: none;
}
