.subscription {
  position: relative;
  background-color: $block-bg;

  &::after {
    width: 287px;
    height: 494px;

    position: absolute;
    bottom: -103px;
    right: 0;

    content: "";
    display: block;
    background: url("../img/weights-desktop.png") no-repeat center;
  }

  @media (max-width: $tablet-width) {
    &::after {
      bottom: -91px;
      right: 31px;

      background: url("../img/weights-tablet.png") no-repeat center;
    }
  }

  @media (max-width: $mobile-width) {
    &::after {
      background-image: none;
    }
  }
}

.subscription__wrapper {
  padding-top: 121px;
  padding-bottom: 120px;

  @media (max-width: $tablet-width) {
    padding: 80px 163px 120px 163px;
  }

  @media (max-width: $mobile-width) {
    padding: 140px 8% 0;
  }

  @media (max-width: $mobile-min-width) {
    padding: 140px 15px 36px;
  }
}

.subscription h2 {
  margin: 0;
  margin-bottom: 32px;

  text-align: center;

  font-family: $font-secondary;
  font-size: 49px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-width) {
    margin-bottom: 26px;

    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-min-width) {
    margin-bottom: 17px;

    font-size: 32px;
    line-height: 32px;
  }
}

.subscription__controls {
  margin-bottom: 36px;

  @media (max-width: $tablet-width) {
    margin-bottom: 43px;
  }

  @media (max-width: $mobile-min-width) {
    margin-bottom: 36px;
  }
}

.subscription__tabs {
  @include list-reset;

  max-width: 1160px;
  margin: 0 auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  font-family: $font-main;

  @media (max-width: $tablet-width) {
    width: 100%;
    flex-direction: column;
  }
}

.subscription__tabs li {
  width: 360px;

  padding-bottom: 68px;
  margin-right: 40px;
  margin-bottom: 40px;

  box-sizing: border-box;
  background-color: $white;
  border: 7px solid transparent;

  z-index: 2;
  text-align: center;

  &:nth-child(3n),
  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    border-image: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%) 3 40%;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-bottom: 61px;
    margin-bottom: 38px;
  }

  @media (max-width: $mobile-min-width) {
    padding-bottom: 48px;

    font-size: 32px;
    line-height: 32px;
  }
}

.subscription__tabs h3 {
  margin: 0;
  margin-top: 57px;

  font-weight: 700;
  font-size: 26px;
  line-height: 29px;

  @media (max-width: $tablet-width) {
    font-size: 26px;
    line-height: 29px;
  }

  @media (max-width: $mobile-min-width) {
    margin-top: 41px;

    font-size: 22px;
    line-height: 24px;
  }
}

.subscription__tabs h4 {
  margin: 0;
  margin-top: 10px;

  color: $small-tab-h4;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.subscription__tabs p {
  margin: 0;

  color: $price-color;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
}

.subscription span {
  display: block;
  margin-bottom: -70px;
  margin-top: 13px;

  color: $price-color-bg;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;

  @media (max-width: $mobile-min-width) {
    margin-top: -7px;

    font-size: 80px;
  }
}

.subscription__price {
  position: relative;
  bottom: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.subscription__price p {
  margin-right: 14px;

  @media (max-width: $mobile-min-width) {
    padding-left: 5px;
    margin-right: 10px;

    font-size: 48px;
  }
}

.subscription__price svg {
  width: 30px;
  height: 42px;

  @media (max-width: $mobile-min-width) {
    width: 24px;
    height: 33px;
  }
}

.subscription__tabs a {
  width: 206px;
  height: 64px;

  padding: 23px 37px;
  margin: 0 auto;
  margin-top: 8px;

  display: block;
  box-sizing: border-box;
  border: 2px solid $main-blue;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (max-width: $mobile-min-width) {
    margin-top: -7px;
  }
}

.subscription__tabs li:hover a,
.subscription__tabs a:focus {
  color: $white;
  border: transparent;
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
}
