$mobile-min-width: 320px;
$mobile-width: 767px;
$tablet-width: 1199px;
$desktop-width: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-main: "Roboto Condensed", "Arial", sans-serif;
$font-secondary: "Bebas Neue", "Courier New", monospace;

$main-gradient: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);

$white: #ffffff;
$main-blue: #102654;
$main-red: #ed0233;
$footer-bg: #030a1a;
$block-bg: #f8f9fc;
$small-block-bg: #1c3374;
$small-block-shadow: 0 0 20px #b8b8b8;
$price-color: #103aae;
$price-color-bg: rgba(232, 232, 232, 0.48);

$inactive-control: rgba(16, 38, 84, 0.5);
$small-tab-h4: #495a7d;
$slider-hover-bg: rgba(16, 38, 84, 0.89);
